<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>LED GRID - Board</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/static/css/board.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<style>
</style>
<body>
    <div class="grid-container">
        {% for i in range(20) %}
        {% for j in range(20) %}
        <div class="grid-item" id="{{i}}-{{j}}"></div>
        {% endfor %}
        {% endfor %}

</body>
<script type="text/javascript" src="/static/js/board.js"></script>
</html>

