<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>LED GRID - Controller</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/static/css/controller.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<style>
</style>
<body>
    <div class="wrapper">
        <div class="middle" id="middle">
            <div class="middle-button"></div>
        </div>
        <div class="up direction" id="up">
          <div class="up-triangle"></div>
        </div>
        <div class="right direction" id="right">
          <div class="right-triangle"></div>
        </div>
        <div class="down direction" id="down">
          <div class="down-triangle"></div>
        </div>
        <div class="left direction" id="left">
          <div class="left-triangle"></div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/js/controller.js"></script>
</html>

