<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>LED GRID - Controller</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/static/css/controller.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<style>
</style>
<body>
    <button class="up" id="up">UP</button>
    <button class="down" id="down">DOWN</button>
    <button class="left" id="left">LEFT</button>
    <button class="right" id="right">RIGHT</button>
    <button class="middle" id="middle">MIDDLE</button>
    

</body>
<script type="text/javascript" src="/static/js/controller.js"></script>
</html>

